.networkMatrix {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
  gap: 0px;
  padding: 0px;
}

.matrixItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  border: 2px solid currentColor;
  border-radius: 4px;
}

.label {
  font-size: 12px;
}

.greenSquare {
  color: white;
  background-color: green;
}

.blueSquare {
  background-color: black;
  color: white;
}

.square {
  width: 12px;
  height: 12px;
  position: relative;
}

.blackSquare {
  border: 8px solid #000;
  background-color: #000;
}

.graySquare {
  border: 8px solid #000;
}
