.content {
  padding: 16px;
  padding-top: 32px;
}

.handle {
  position: absolute;
  top: 0px;
  z-index: 1000;
}

.card {
  box-shadow: none !important;
  border-top: 1px solid #000 !important;
  border-radius: 0 0 !important;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
