.content {
  padding: 16px;
  padding-top: 32px;
}

.handle {
  position: absolute;
  top: -2px;
  z-index: 1000;
}

.card {
  box-shadow: none !important;
  border-top: 1px solid #000 !important;
  border-radius: 0 0 !important;
  display: flex;
  flex-direction: column;
}

.cardHeader {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: var(--background-primary);
  z-index: 100;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 400;
}

.sheetContent {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.returnButton {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  touch-action: manipulation;
}

.returnButton span {
  font-family: monospace;
}
