.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--background);
  overflow: hidden;
}

.listItem {
  border: 1px solid var(--border);
  border-radius: 4px;
  margin-bottom: 8px;
  background: var(--background);
  transition: all 0.2s ease;
  cursor: pointer;
}

/* 
.listItem.highlighted {
  border-color: var(--accent);
  background: var(--accent);
} */

.itemInfo {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #000;
  gap: 8px;
  font-size: 0.7rem;
}

.itemLocation {
  font-weight: 500;
  color: var(--text);
}

.itemDetails {
  display: flex;
  justify-content: space-between;
  color: var(--text-secondary);
}

.itemType {
  font-size: 0.7em;
  color: var(--text-primary);
}
