body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wheel {
  display: block;
  color: var(--text-primary);
  height: 100%;
  overflow: visible;
  width: 100%;
}

.wheel--perspective-right .wheelInner {
  perspective-origin: calc(50% + 100px) 50%;
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
}

.wheel--perspective-left .wheelInner {
  perspective-origin: calc(50% - 100px) 50%;
  transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
}

.wheelInner {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: 16%;
  width: 100%;
}

.wheelSlides {
  height: 100%;
  position: relative;
  width: 100%;
}

.wheelShadowTop,
.wheelShadowBottom {
  background: linear-gradient(to bottom, var(--shadow-dark) 0%, var(--shadow-medium) 100%);
  left: 0;
  height: calc(42% + 2px);
  width: 100%;
  border-bottom: 0.5px solid var(--border-light);
  position: relative;
  margin-top: -2px;
  z-index: 5;
}

.wheelShadowBottom {
  background: linear-gradient(to bottom, var(--shadow-medium) 0%, var(--shadow-dark) 100%);
  margin-top: 2px;
  border-bottom: none;
  border-top: 0.5px solid var(--border-light);
}

.wheelLabel {
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
  margin-top: 1px;
  margin-left: 5px;
}

.wheelSlide {
  align-items: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 12px 24px;
}

.leftText {
  text-align: left;
}

.rightText {
  text-align: right;
}

.wheelContainer {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-primary);
  width: 100vw;
}

.wheelWrapper {
  width: 100%;
  height: 240px;
}

.smallWheelWrapper {
  width: 100%;
  height: 240px;
}
