.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--text-primary);
  transform: translateY(0);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.hidden {
  transform: translateY(100%);
}

.navContainer {
  display: flex;
  justify-content: space-around;
  padding: 8px 0 8px;
}

.navItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0px 18px;
  border-radius: 2px;
  text-decoration: none;
  color: var(--bg-primary);
  text-align: center;
}

.navText {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--bg-primary);
  margin: 0;
}

.active {
  background-color: var(--bg-primary);
}

.active span {
  color: var(--text-primary);
}
