.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.visualizationContainer {
  height: 50vh;
  transition: height 0.3s ease;
}

.visualizationContainer.collapsed {
  height: 40vh;
}

.listingContainer {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: height 0.3s ease;
}

.listingContainer.expanded {
  height: 60vh;
}

.breaker {
  background: var(--text-primary);
  color: var(--bg-primary);
  display: flex;
  justify-content: space-between;
  padding: 0rem 1.5rem;
  font-size: var(--font-sm);
}
