.buttonContainer {
  font-size: var(--font-xl);
}

.wheelWrapper {
  position: absolute;
  bottom: -8rem;
  left: 0;
  width: 100vw;
  height: 50vh;
}

.wheelsContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wheelSection {
  height: 50vh;
  width: 100%;
}
