.loadingPage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  opacity: 1;
  transition: opacity 1s ease-out;
}

.loadingOverlay {
  opacity: 0.5;
}

.fadeOut {
  opacity: 0;
}

.asciiGrid {
  font-family: monospace;
  font-size: 8px;
  line-height: 6px;
  white-space: pre;
  text-align: center;
  margin-top: 40px;
  max-width: 600px;
  overflow: hidden;
}

.scanResults {
  position: absolute;
  bottom: 300px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.loadingPage button {
  position: absolute;
  bottom: 8rem;
  left: 50%;
  transform: translateX(-50%);
}
