.storyTabLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 10px;
}

.emissionsSection {
  height: 60vh;
  min-height: 60vh;
  max-height: 60vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.logSection {
  flex: 1;
  min-height: 25vh;
  overflow: auto;
}

.timelineSection {
  flex: 0.2;
  min-height: 0;
}
