.modelViewer {
  background-image: linear-gradient(var(--accent) 1px, transparent 1px),
    linear-gradient(90deg, var(--accent) 1px, transparent 1px);
  background-size: 15px 15px;
  background-color: var(--accent-light);
  width: 100%;
  height: 100%;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.previewMode {
  /* ... existing preview mode styles ... */
}

.modelLoading {
  color: var(--text);
  font-size: 0.8rem;
}

.fallbackContent {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.modelContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridPixelModel {
  aspect-ratio: 1/1;
  width: 100%;
}

.expandButton {
  position: absolute;
  bottom: 10px;
  right: 16px;
  width: 44px;
  height: 44px;
  font-size: 24px !important;
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}
