.modelViewer {
  background-image: linear-gradient(var(--accent) 1px, transparent 1px),
    linear-gradient(90deg, var(--accent) 1px, transparent 1px);
  background-size: 15px 15px;
  background-color: var(--accent-light);
  width: 100%;
  height: 100%;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  --progress-bar-color: none !important;
  --progress-bar-height: 0px !important;
}

.previewMode {
  /* ... existing preview mode styles ... */
}

.modelLoading {
  color: var(--text);
  font-size: 0.8rem;
}

.fallbackContent {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.modelContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridPixelModel {
  aspect-ratio: 1/1;
  width: 100%;
}

.expandButton {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 44px;
  height: 44px;
  line-height: 0;
  font-size: 24px !important;
  background-color: var(--text-primary);
  color: var(--bg-primary);
  border: none;
  font-variation-settings: "mono" 0.5;
  font-family: inherit;
  font-weight: 500;
  font-size: 22px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}
